<div class="graph">
    <div class="fatigue-graph">
        <div class="fatigues">
            <img src="assets/images/icons/first-smile.svg" alt="first smile">
            <img src="assets/images/icons/second-smile.svg" alt="first smile">
            <img src="assets/images/icons/third-smile.svg" alt="first smile">
            <img src="assets/images/icons/fourth-smile.svg" alt="first smile">
            <img src="assets/images/icons/fifth-smile.svg" alt="first smile">
            <img src="assets/images/icons/sixth-smile.svg" alt="first smile">
        </div>
        <div id="performance-graph"></div>
    </div>
    <div class="week-types">
        <div>
            <div>
                <span>Week 1</span>
                <span>Test & training week</span>
            </div>
        </div>
        <div>
            <div>
                <span>Week 2</span>
                <span>Training week</span>
            </div>
        </div>
        <div>
            <div>
                <span>Week 3</span>
                <span>Training week</span>
            </div>
        </div>
        <div>
            <div>
                <span>Week 4</span>
                <span>Deload week</span>
            </div>
        </div>
        <div>
            <div>
                <span>Week 5</span>
                <span>Training week</span>
            </div>
        </div>
    </div>
    <div class="conventions">
        <div class="box">
            <div class="auto color"></div>
            <div class="text">
                <p>Autoregulation of Load</p>
                <p class="text-secondary">(Total kg adjusted per session)</p>
            </div>
        </div>
        <div class="box">
            <div class="sleep color"></div>
            <div class="text">
                <p>Sleep Level</p>
                <p class="text-secondary">(Logged each training day)</p>
            </div>
        </div>
        <div class="box">
            <div class="stress color"></div>
            <div class="text">
                <p>Stress Level </p>
                <p class="text-secondary">(Logged each training day)</p>
            </div>
        </div>
        <div class="box">
            <div class="engergy color"></div>
            <div class="text">
                <p>Engergy Level </p>
                <p class="text-secondary">(Logged each training day)</p>
            </div>
        </div>
    </div>
</div>