osg-program-designer-program-design {
	display: block;
	@media (min-width: 320px) {
		margin-top: 100px;
	}
	@media (min-width: 768px) {
		margin-top: 50px;
	}
    .title {
        display: block;
        width: 100%;
        border-bottom: solid 1px #b7b7b7;
        padding-bottom: 0px;
        margin-top: 20px;
        margin-bottom: 20px;

        h3 {
            @include section-title;

            span {
                color: $light-blue;
                display: inline-block;
            }
        }

        .sort-box {
			@media (max-width: 480px) {
				display: none;
			}
            font-weight: bold;
            font-size: rem(14);
            font-family: $secondary-font;

            p {
                display: inline-block;
                color: #ababab;
                text-transform: uppercase;
                font-size: rem(14);
            }

            .dropdown {
                display: inline-block;
                outline: none;

                .btn {
                    background: transparent;
                    outline: none;
                    font-weight: bold;
                    font-size: rem(14);
                    font-family: $secondary-font;
                    color: #000;
                    text-transform: uppercase;
                }
            }
        }
    }
	.table-program-design {
		.table-responsive {
			table {
				@media (min-width: 320px) {
					width: 1279px;
				}
				// thead {
				// 	tr {
				// 		th {
				// 			&.blue {
				// 				background: #f0feff;
				// 			}
				// 			&.green {
				// 				background: #e8fecd;
				// 			}
				// 			&.red {
				// 				background: #fff0e8;
				// 			}
				// 		}
				// 	}
				// }
				// tbody {
				// 	tr {
				// 		td {
				// 			&.green {
				// 				background: #e8fecd;
				// 			}
				// 			&.red {
				// 				background: #fff0e8;
				// 			}
				// 			&.blue {
				// 				background: #f0feff;
				// 			}
				// 		}
				// 	}
                // }
                thead {
                    tr {
                        th {
                            border: 1px solid #dadada;
                            font-size: 0.85rem;
                            font-family: "Gotham Medium";
                            font-weight: 300;
                            color: #000 !important;
                            vertical-align: middle;
                            background: #fff0cf;
                            &.red {
                                background: #fff0e8 !important;
                            }

                            &.green {
                                background: #e8fecd !important;
                            }

                            &.blue {
                                background: #f0feff !important;
                            }
                        }
                        &:first-child{
                            th{
                                &:not(:nth-child(2)),
                                &:not(:first-child){
                                    border-top: 2px solid #78cd18;
                                }
                                &:nth-child(2),
                                &:first-child{
                                    border-top: 2px solid #dadada;
                                }
                                &:nth-child(3){
                                    border-left: 2px solid #78cd18;
                                }
                                &:last-child{
                                    border-right: 2px solid #78cd18;
                                }
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            background: #fff;
                            border: 1px solid #dadada;
                            font-size: 0.85rem;
                            font-family: "Gotham Medium";
                            font-weight: 300;
                            padding: 0.55rem;
                            color: #000;

                            &.red {
                                background: #fff0e8 !important;
                            }

                            &.green {
                                background: #e8fecd !important;
                            }

                            &.blue {
                                background: #f0feff !important;
                            }

                            &.border-bottom {
                                border-bottom: 2px solid #78cd18 !important;
                            }
                        }
                            td {
                                &:first-child{
                                    background: #fff0cf;
                                }
                                &:nth-child(2) {
                                    color: #000;
                                    border-right: 2px solid #78cd18;
                                }

                                &:last-child{
                                    border-right: 2px solid #78cd18;
                                }
                            }

                        &:last-child {
                            td {
                                border-bottom: 2px solid #78cd18;
                                &:first-child,
                                &:nth-child(2){
                                    border-bottom: 1px solid #dadada;
                                }
                            }
                        }
                    }
                }
			}
		}
	}
}
