<div [ngClass]="current_set=='profile'?'active slide_page':'slide_page'">
    <a class="slide_button next" (click)="NextPage()">
        <img src="images/icons/arrow-right.png">
    </a>
    <osg-profile-about-me profile="Personal Trainer" [text]="applicationUser.profile?applicationUser.profile.description:'Sample description'" [education]="applicationUser.profile?applicationUser.profile.education:'Sample education text'" [specialities]="applicationUser.profile?applicationUser.profile.special:'Sample special description'" [experience]="applicationUser.profile?applicationUser.profile.experience:'Sample experience text'" [country]="applicationUser.profile?applicationUser.profile.country:'Sample country text'" [location]="applicationUser.profile?applicationUser.profile.location:'Sample location text'" [email]="applicationUser.profile.email"></osg-profile-about-me>
    <osg-news-feed [applicationUser]="applicationUser"></osg-news-feed>
</div>
<div [ngClass]="current_set=='graph'?'active slide_page':'slide_page'">
    <a class="slide_button prev" (click)="PreviousPage()">
        <img src="images/icons/arrow-left.png">
    </a>
    <osg-personal-trainer-offers></osg-personal-trainer-offers>
    <osg-personal-trainer-experience-bank></osg-personal-trainer-experience-bank>
    <osg-personal-trainer-booking-calendar></osg-personal-trainer-booking-calendar>
    <osg-get-started view="primary" [sections]="getStartedSections"></osg-get-started>
</div>
