osg-reviews,
osg-reviews-page {
    display: block;
    padding-top: 120px;

    .review-page-title{
        padding-left: 205px;
        font-family: $primary-font;;

        span{
            padding-left: 10px;
            color: #0880e6;
        }
    }

    .review-page-container{
        display: flex;
        flex-direction: row;

        @media (max-width: 1920px) {
            padding-left: 150px;
            padding-right: 150px;
        }

        @media (max-width: 1024px) {
            padding-left: 100px;
            padding-right: 150px;
        }

        @media (max-width: 768px) {
            padding-left: 50px;
            padding-right: 100px;
        }

        .write-review{
            flex: 1;
            background-color: white;
            padding: 20px;
            height: fit-content;
            border-bottom: 1px solid #b7b7b7;

            position: sticky;
            top: 100px;

            .modal-header{
                border-bottom: solid 1px #b7b7b7;
                padding-left: 0px;
                h4{
                    font-size: rem(20);
                    font-family: $secondary-font;
                    font-weight: bold;
                }
                .close{
                    border-radius: 100px;
                    background: #e3e3e3;
                    width: 38px;
                    height: 38px;
                    line-height: 28px;
                    padding: 0px;
                    color: #afafaf;
                    opacity: 1;
                    text-shadow: none;
                }
            }

            .spliter{
                width: 100%;
                height: 1px;
                background-color: #b7b7b7;
                margin-left: -20px;
            }

            .modal-body{
                padding-left: 0px;
                padding-right: 0px;
                // overflow-y: auto;
                // height: 340px;
                // border-bottom: solid 2px #b7b7b7;
                padding-bottom: 0px;
                .section{
                    background: #ffffff;
                    h6{
                        font-family: $secondary-font;
                        font-weight: bold;
                        font-size: 1rem;
                        color: #000;
                        span{
                            color: $yellow;
                            display: inline-block;
                        }
                    }
                    textarea{
                        width: 100%;
                        height: 150px;
                        background-color: #ebebeb;
                        resize: none;
                        border: none;
                        padding: 10px;
                        border-bottom: 2px solid #b7b7b7;
                    }
                    .rating{
                        font-size: 10px;
                        color: #b7b7b7;
                        align-items: center;
                        justify-content: flex-start;
                        display: flex;
                        margin-bottom: 5px;
                        text-align: center;
                        span{
                            color: #b7b7b7;
                            cursor: pointer;
                            font-size: 14px;
                            &.excellent{
                                color: #4b870a;
                            }
                            &.good{
                                color: $dark-green;
                            }
                            &.middle{
                                color: $orange;
                            }
                            &.worse{
                                color: #ff4700;
                            }
                            &.worst{
                                color: #980000;
                            }
                        }
                        p{
                            display: inline-block;
                            margin-left: 5px;
                            margin-bottom: 0;
                            font-weight: bold;
                            font-size: 1rem;
                            color: black;
                        }
                    }
                }
            }
        }

        .review-container{
            flex: 2;
            height: 100%;

            .review-body{
                padding: 20px;
                background-color: white;
                // height: 150px;
                border-bottom: 2px solid #b7b7b7;

                .rating{
                    font-size: 10px;
                    color: #b7b7b7;
                    align-items: center;
                    justify-content: flex-start;
                    display: flex;
                    margin-bottom: 5px;
                    text-align: center;
                    span{
                        color: #b7b7b7;
                        cursor: pointer;
                        &.excellent{
                            color: #4b870a;
                        }
                        &.good{
                            color: $dark-green;
                        }
                        &.middle{
                            color: $orange;
                        }
                        &.worse{
                            color: #ff4700;
                        }
                        &.worst{
                            color: #980000;
                        }
                    }
                    p{
                        display: inline-block;
                        margin-right: 5px;
                        margin-bottom: 0;
                        font-weight: bold;
                        font-size: 1rem;
                        color: black;
                    }
                }

                .spliter{
                    width: 70px;
                    height: 1px;
                    background-color: #dadada;
                }

                .user-name{
                    color: #0095ff;
                    font-size: 14px;
                }

                .review-content{
                    color: #000;
                    font-size: 11px;
                    display: -webkit-box;
                    overflow : hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }


}
