<div class="row">
  <div class="col-6 col-xs-12">
    <div class="friend-list-card">
      <img class="profile-img" src="assets/images/icons/icon-account.svg">
      <div class="ml-3">Nohman Janjua</div>
      <div class="more-info">
        <span>...</span>
      </div>
    </div>
  </div>
  <div class="col-6 col-xs-12">
    <div class="friend-list-card">
      <img class="profile-img" src="assets/images/icons/icon-account.svg">
      <div class="ml-3">Nohman Janjua</div>
      <div class="more-info">
        <a class="btn btn-yellow-gradient py-2 btn-block" href="">CONFIRM</a>
      </div>
    </div>
  </div>
  <div class="col-6 col-xs-12">
    <div class="friend-list-card">
      <img class="profile-img" src="assets/images/icons/icon-account.svg">
      <div class="ml-3">Nohman Janjua</div>
      <div class="more-info">
        <span>...</span>
      </div>
    </div>
  </div>
  <div class="col-6 col-xs-12">
    <div class="friend-list-card">
      <img class="profile-img" src="assets/images/icons/icon-account.svg">
      <div class="ml-3">Nohman Janjua</div>
      <div class="more-info">
        <span>...</span>
      </div>
    </div>
  </div>
  <div class="col-6 col-xs-12">
    <div class="friend-list-card">
      <img class="profile-img" src="assets/images/icons/icon-account.svg">
      <div class="ml-3">Nohman Janjua</div>
      <div class="more-info">
        <span>...</span>
      </div>
    </div>
  </div>
  <div class="col-6 col-xs-12">
    <div class="friend-list-card">
      <img class="profile-img" src="assets/images/icons/icon-account.svg">
      <div class="ml-3">Nohman Janjua</div>
      <div class="more-info">
        <span>...</span>
      </div>
    </div>
  </div>
  <div class="col-6 col-xs-12">
    <div class="friend-list-card">
      <img class="profile-img" src="assets/images/icons/icon-account.svg">
      <div class="ml-3">Nohman Janjua</div>
      <div class="more-info">
        <span>...</span>
      </div>
    </div>
  </div>
  <div class="col-6 col-xs-12">
    <div class="friend-list-card">
      <img class="profile-img" src="assets/images/icons/icon-account.svg">
      <div class="ml-3">Nohman Janjua</div>
      <div class="more-info">
        <span>...</span>
      </div>
    </div>
  </div>
  <div class="col-6 col-xs-12">
    <div class="friend-list-card">
      <img class="profile-img" src="assets/images/icons/icon-account.svg">
      <div class="ml-3">Nohman Janjua</div>
      <div class="more-info">
        <span>...</span>
      </div>
    </div>
  </div>
  <div class="col-6 col-xs-12">
    <div class="friend-list-card">
      <img class="profile-img" src="assets/images/icons/icon-account.svg">
      <div class="ml-3">Nohman Janjua</div>
      <div class="more-info">
        <span>...</span>
      </div>
    </div>
  </div>
</div>
