osg-calendar-builder {
    display: block;
	.container {
		&.desktop {
			padding-top: 7.5rem;
		}
		&.mobile {
			padding: 3.3rem 0 0 0;
			.content {
				display: flex;
				flex-direction: column;
				height: 700px;
				.header {
					background-image: linear-gradient(to bottom right, #ff8d00, #ffb20d);
					padding: 15px;
					flex: 0 1 auto;
					.nav-buttons {
						display: flex;
						justify-content: space-between;
						.btn {
							font-family: "Gotham Bold";
							padding: 0;
							svg {
								width: 16px;
							}
						}
					}
					.section-title {
						margin-top: 20px;
						margin-bottom: 30px;
						h2 {
							font-family: "Gotham Bold";
							text-transform: unset;
							font-size: 25px;
						}
						p {
							margin: 0;
							font-weight: bold;
							font-size: 15px;
							font-family: "Gotham Medium";
						}
					}
					.section-search {
						display: flex;
						align-items: center;
						i {
							width: 20px;
							font-size: 20px;
							margin-right: 5px;
						}
						input {
							background: transparent;
							border: none;
							color: #000 !important;
							padding-left: 0;
							&::-webkit-input-placeholder { /* Edge */
							  color: #000;
							  font-family: "Gotham Medium";
							}
							&:before {
								font-family: 'FontAwesome';
								color:red;
								position: relative;
								left: -5px;
								content: "\f007";
							}
						}
						
						.btn {
							svg {
								width: 16px;
							}
						}
					}
					@media (min-width: 320px) {
						.section-title {
							font-size: 1rem;
						}
						.section-search {
							input {
								font-size: 13px;
							}
						}
					}
				}
				.body {
					padding: 15px;
					flex: 1 1 auto;
					overflow-y: scroll;
					label {
						color: #979292;
						text-transform: uppercase;
						font-family: "Gotham Bold";
						@media (min-width: 320px) {
							font-size: 14px;
						}
					}
					.item-list {
					    margin-top: 10px;
						.item {
							display: flex;
							align-items: center;
							margin-bottom: 20px;
							background: #fff;
							padding: 10px;
							&:last-child {
								margin-bottom: 0;
							}
							.avatar {
								flex: 1;
								margin-right: 10px;
								img {
									width: 70px;
									height: 70px;
								}
							}
							.ex-description {
								flex: 5;
								h3 {
									margin: 0;
									color: #000;
									font-weight: bold;
								}
								p {
									margin: 0;
									font-size: 14px;
									&.group-item {
										display: flex;
										span {
											margin-left: 5px;
											margin-right: 5px;
											font-size: 12px;
											border: 1px solid #d6d6d6;
											padding: 2px;
											&:nth-child(1) {
												margin-left: 0;
											}
											&:last-child {
												margin-right: 0;
											}
										}
									}
								}
								@media (min-width: 320px) {
									h3 {
										font-size: 18px;
									}
									p {
										font-size: 13px;
										&.group-item {
											span {
												font-size: 9px;
											}
										}
									}
								}
								@media (min-width: 360px) {
									h3 {
										font-size: 20px;
									}
									p {
										font-size: 15px;
										&.group-item {
											span {
												font-size: 12px;
											}
										}
									}
								}
							}
							.btn-group {
								flex: 1;
								.btn {
									background: #ffa600;
									border-radius: 50%;
									width: 30px;
									height: 30px;
									position: relative;
									svg {
										width: 15px;
										position: absolute;
										top: 6px;
										left: 8px;
									}
									&.checked {
										background: #58c301;
										color: #fff;
										border-radius: 5px;
										svg {
											width: 17px;
											top: 7px;
											left: 7px;
										}
									}
								}
								@media (min-width: 320px) {
									.btn {
										width: 20px;
										height: 25px;
										svg {
											width: 12px;
											left: 7px;
										}
										&.checked {
											svg {
												width: 13px;
												left: 6px;
											}
										}
									}
								}
							}
						}
					}
					.btn-group {
						display: flex;
					    justify-content: space-between;
						.btn {
							font-size: 0.875rem;
							font-weight: bold;
							font-family: "Gotham Bold";
							letter-spacing: 0;
							text-transform: uppercase;
							border-radius: 0;
							display: flex;
							align-items: center;
							&.save {
								background: #000;
								color: #fff;
								img {
									width: 20px;
									margin-right: 7px;
								}
							}
							&.add {
								background: #e4e4e4;
								color: #505050;
							}
							&.add-icon {
								background: #000;
								color: #fff;
								.icon {
									margin-right: 7px;
									background: #ffa600;
									border-radius: 50%;
									color: #000;
									position: relative;
									width: 20px;
									height: 20px;
									svg {
										position: absolute;
										top: 2px;
										left: 3px;
										width: 14px;
									}
								}
							}
						}
						@media (min-width: 320px) {
							.btn {
								font-size: 11px;
								&.btn-small {
									font-size: 8px;
								}
							}
						}
						@media (min-width: 360px) {
							.btn {
								&.btn-small {
									font-size: 10px;
								}
							}
						}
					}
					.workouts {
						.item {
							display: flex;
							align-items: center;
							margin: 10px 0px;
							.type {
							    display: flex;
								align-items: center;
								span {
									font-family: "Gotham Bold";
									font-size: 14px;
								}
								.id {
									margin-left: 10px;
									background: #ffa600;
									border-radius: 50%;
									font-size: 12px !important;
									width: 20px;
									text-align: center;
									font-family: "Gotham Bold";
								}
							}
						}
					}
					.exercise-group {
						.exercise {
						    box-shadow: 0px 0px 15px 0px rgba(61, 47, 12, 0.15);
							background: #fff;
							margin-bottom: 20px;
							.set-header {
								display: flex;
								align-items: center;
								padding: 10px;
								.avatar {
									flex: 1;
									margin-right: 10px;
									img {
										width: 70px;
										height: 70px;
									}
								}
								.set-description {
									flex: 5;
									h3 {
										margin: 0;
										color: #000;
										font-weight: bold;
									}
									p {
										margin: 0;
										font-size: 14px;
										&.group-item {
											display: flex;
											span {
												margin-left: 5px;
												margin-right: 5px;
												font-size: 12px;
												border: 1px solid #d6d6d6;
												padding: 2px;
												&:nth-child(1) {
													margin-left: 0;
												}
												&:last-child {
													margin-right: 0;
												}
											}
										}
									}
									@media (min-width: 320px) {
										h3 {
											font-size: 18px;
										}
										p {
											font-size: 13px;
											&.group-item {
												span {
													font-size: 9px;
												}
											}
										}
									}
									@media (min-width: 360px) {
										h3 {
											font-size: 20px;
										}
										p {
											font-size: 15px;
											&.group-item {
												span {
													font-size: 12px;
												}
											}
										}
									}
								}
								.btn-group {
									flex: 1;
									.toggler {
										position: relative;
										span {
											display: block;
											position: absolute;
											height: 4px;
											width: 30px;
											background: #000;
											opacity: 1;
											left: 0;
											
											&.bar1 {
												top: -9px;
											}

											&.bar2 {
												top: 2px;
											}

											&.bar3 {
												top: 12px;
											}
										}
										&.change {
											span {
												&.bar1 {
													top: auto;
													transform: rotate(-45deg) translate(-2px, -3px);
												}
												
												&.bar2 {
													opacity: 0;
												}
												
												&.bar3 {
													top: auto;
													transform: rotate(45deg) translate(-3px, 2px);
												}
											}
										}
									}
								}
							}
							.set-items {
								font-family: $third-font;
								display: flex;
								border-bottom: 1px solid rgba(0, 0, 0, 0.125);
								border-top: 1px solid rgba(0, 0, 0, 0.125);
								visibility: hidden;
								height: 0;
								&.change {
									visibility: visible;
									height: 100%;
								}
								.side-nav {
									.item-group {
										padding-top: 5px;
										padding-bottom: 5px;
										.item {
											width: 120px;
											text-align: left;
											&.multi-line {
												line-height: unset;
											}
											.popover-body {
												width: 200px;
												max-height: 250px;
												overflow-y: auto;
											}
										}
									}
								}
								ngx-siema-slide {
									.active {
										background-image: linear-gradient(to bottom right, #ff8d00, #ffb20d);
										.item-group {
											border-right: none;
										}
									}
								}
								.item-title {
									text-transform: uppercase;
									line-height: 35px;
									font-weight: bold;
									text-align: center;
									font-size: 11px;
									border-bottom: 1px solid rgba(0, 0, 0, 0.125);
									border-right: 1px solid rgba(0, 0, 0, 0.125);
									&.start-title {
										text-align: left;
										padding-left: 10px;
									}
								}
								.item-group {
									padding-top: 5px;
									padding-bottom: 5px;
									border-bottom: 1px solid rgba(0, 0, 0, 0.125);
									border-right: 1px solid rgba(0, 0, 0, 0.125);
									.item {
										line-height: 35px;
										width: 85px;
										text-align: center;
										font-size: 11px;
										position: relative;
										&.multi-line {
											.btn {
												top: 12px;
											}
										}
										.btn {
											position: absolute;
											right: 5px;
											background: transparent;
											padding: 0;
											top: 5px;
											img {
												width: 15px;
											}
										}
									}
								}
								@media (min-width: 320px) {
									.item-title {
										line-height: 30px;
									}
									.item-group {
										.item {
											line-height: 25px;
											width: 90px;
											padding-left: 5px;
											padding-right: 5px;
											input {
												width: 100%;
												height: 18px;
												text-align: center;
											}
										}
									}
									.side-nav {
										.item-group {
											.item {
												padding-left: 10px;
												width: 100px;
												&.multi-line {
													line-height: 12px;
												}
												.btn {
													top: 6px;
													right: 0;
												}
											}
										}
									}
								}
								@media (min-width: 360px) {
									.item-title {
										line-height: 35px;
									}
									.item-group {
										.item {
											line-height: 30px;
											width: 107px;
											input {
												height: 21px;
											}
										}
									}
									.side-nav {
										.item-group {
											.item {
												width: 107px;
												&.multi-line {
													line-height: 15px;
												}
												.btn {
													top: 8px;
												}
											}
										}
									}
								}
								@media (min-width: 375px) {
									.item-group {
										.item {
											width: 80px;
										}
									}
									.side-nav {
										.item-group {
											.item {
												width: 95px;
											}
										}
									}
								}
								@media (min-width: 384px) {
									.item-group {
										.item {
											width: 83px;
										}
									}
								}
								@media (min-width: 411px) {
									.side-nav {
										.item-group {
											.item {
												width: 107px;
												padding-left: 10px;
											}
										}
									}
									.item-group {
										.item {
											width: 88px;
										}
									}
								}
								@media (min-width: 414px) {
									.item-group {
										.item {
											width: 89px;
										}
									}
								}
								@media (min-width: 480px) {
									.item-group {
										.item {
											width: 83px;
										}
									}
								}
							}
							.set-footer {
								display: flex;
								justify-content: space-between;
								padding: 10px;
								.btn {
									font-size: 0.875rem;
									font-weight: bold;
									font-family: "Gotham Bold";
									letter-spacing: 0;
									text-transform: uppercase;
									border-radius: 0;
									&.add {
										background: #000;
										color: #fff;
										display: flex;
										.icon {
											margin-right: 10px;
											background: #ffa600;
											border-radius: 50%;
											padding: 0 5px;
											color: #000;
											svg {
												width: 13px;
											}
										}										
									}
									&.remove {
										background: #e4e4e4;
										color: #505050;
									}
								}
								@media (min-width: 320px) {
									.btn {
										font-size: 12px;
										&.add {
											.icon {
												svg {
													width: 11px;
												}
											}
										}
									}
								}
							}
						}
					}
					.card {
						background: #fff;
						box-shadow: 0px 0px 15px 0px rgba(61, 47, 12, 0.15);
						margin-bottom: 10px;
						.card-header {
						    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
							padding: 15px 10px;
							label {
								text-transform: uppercase;
								font-family: "Gotham Bold";
								color: #000;
								margin: 0;
							}
						}
						.card-content {
						    padding: 10px;
							.workouts {
								.item {
									margin: 10px 0px;
									display: flex;
									align-items: center;
									span {
										font-family: "Gotham Bold";
										&.types {
											color: #505050;
											text-transform: uppercase;
										}
									}
									.id {
										margin-left: 5px;
										margin-right: 5px;
										background: #ffa600;
										border-radius: 50%;
										text-align: center;
										font-family: "Gotham Bold";
									}
								}
								@media (min-width: 320px) {
									span {
										font-size: 10px;
										&.types {
											font-size: 8px;
										}
									}
									.id {
										font-size: 10px;
										width: 15px;
									}
									
								}
								@media (min-width: 360px) {
									span {
										font-size: 12px;
										&.types {
											font-size: 10px;
										}
									}
									
								}
								@media (min-width: 375px) {
									span {
										font-size: 14px;
									}
									.id {
										font-size: 12px;
										width: 20px;
									}
								}
							}
							.table-responsive{
								height: 360px;
								overflow-x: hidden;
								overflow-y: scroll;
								margin-top: 15px;
							}
							table{
								margin-bottom: 0px;
								thead{
									tr{
										th{
											border: solid 1px #d8ddd1;
											font-family: $fourth-font;
											font-weight: bold;
											text-transform: uppercase;
											text-align: center;
											vertical-align: middle;
										}
									}
								}
								tbody{
									tr{
										td{
											border: solid 1px #d8ddd1;
											font-family: $fourth-font;
											text-transform: uppercase;
											vertical-align: middle;
											text-align: center;
											span{
												color: #000;
												font-weight: bold;
												border-radius: 100%;
												text-align: center;
												display: inline-block;
												&.normal {
													background: #e4e4e4;
												}
												&.selected {
													background: $yellow;
												}
											}
										}
									}
								}
								@media (min-width: 320px) {
									thead{
										tr{
											th{
												font-size: 9px;
												padding: 3px;
											}
										}
									}
									tbody{
										tr{
											td{
												font-size: 9px;
												padding: 3px;
												span{
													width: 20px;
													height: 20px;
													line-height: 22px;
												}
											}
										}
									}
								}
								@media (min-width: 360px) {
									thead{
										tr{
											th{
												font-size: 11px;
												padding: 4px;
											}
										}
									}
									tbody{
										tr{
											td{
												font-size: 12px;
												padding: 4px;
												span{
													width: 20px;
													height: 20px;
													line-height: 22px;
												}
											}
										}
									}
								}
								@media (min-width: 375px) {
									thead{
										tr{
											th{
												font-size: 11px;
												padding: 5px;
											}
										}
									}
									tbody{
										tr{
											td{
												font-size: 11px;
												padding: 5px;
												span{
													width: 25px;
													height: 25px;
													line-height: 29px;
												}
											}
										}
									}
								}
							}
						}
					}
					.program {
						margin-bottom: 20px;
						.item-field {
							margin-bottom: 20px;
							label {
								font-size: 12px;
								color: #000;
								margin: 0;
							}
							.form-control{
								border-radius: 0px;
								border-top: solid 1px #d8ddd1;
								border-right: solid 1px #d8ddd1;
								border-left: solid 1px #d8ddd1;
								border-bottom: solid 2px #a9a9a9;
								font-size: rem(12);
								width: 100% !important;
							}
							select {
								height: 38px !important;
							}
							textarea {
								height: 100px;
							}
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
    .container-box {
        background: #FFF;
        position: relative;
        display: block;
        border-bottom: solid 2px #a9a9a9;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 10px;
        margin-bottom: 20px;

        &:before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            display: block;
            width: 100%;
            height: 3px;
            background: rgba(226, 134, 42, 1);
            background: -moz-linear-gradient(left, rgba(226, 134, 42, 1) 0%, rgba(255, 166, 0, 1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226, 134, 42, 1)), color-stop(100%, rgba(255, 166, 0, 1)));
            background: -webkit-linear-gradient(left, rgba(226, 134, 42, 1) 0%, rgba(255, 166, 0, 1) 100%);
            background: -o-linear-gradient(left, rgba(226, 134, 42, 1) 0%, rgba(255, 166, 0, 1) 100%);
            background: -ms-linear-gradient(left, rgba(226, 134, 42, 1) 0%, rgba(255, 166, 0, 1) 100%);
            background: linear-gradient(to right, rgba(226, 134, 42, 1) 0%, rgba(255, 166, 0, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2862a', endColorstr='#ffa600', GradientType=1);
        }
    }

    .general-actions {
        @extend .col;
		&.text-right {
			@media (min-width: 320px) {
				margin-right: 0px;
			}
			@media (min-width: 1280px) {
				margin-right: 45px;
			}
		}
        .btn {
            font-size: rem(14);

            img {
                width: 15px;
            }

            &:first-child {
                margin-right: 15px;
                font-weight: bold;
            }

            &.btn-next {
                position: relative;
                padding: 0.55rem 2.5rem 0.55rem 1rem;
                -webkit-clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 0 0);
                clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 0 0);
            }
        }
    }

    @import "exercises";
    @import "workouts";
    @import "calendar";
}
