<div class="row">
    <div class="col-12">
        <h3>GET STARTED</h3>
    </div>
</div>

<div class="articles-list desktop" *showItDevice="['tablet','desktop']">
    <div class="article brand-box">
        <figure>
            <img alt="" class="img-fluid d-block mx-auto" src="/assets/images/logo.png">
        </figure>
    </div>
    <div class="article" *ngFor="let section of sections">
        <h4>{{section}}</h4>
        <a href="" class="btn btn-yellow-gradient">READ MORE</a>
    </div>
</div>

<div class="articles-list mobile" *showItDevice="['mobile']">
    <div class="article brand-box">
        <figure>
            <img alt="" class="img-fluid d-block mx-auto" src="/assets/images/logo.png">
        </figure>
    </div>
    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let section of sections">
            <ng-template carouselSlide [width]='width==320?290:width==360?330:width==375?345:width==384?354:384'>
                <div class="article">
                    <h4>{{section}}</h4>
                    <a href="" class="btn btn-yellow-gradient">READ MORE</a>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>


