<ngx-spinner></ngx-spinner>
<h4 class="container review-page-container review-page-title">Write a review: <span>{{first_program.name}}</span></h4>
<div class="container review-page-container">
  <div style="flex: 1.3;">
    <div class="write-review">
      <div class="modal-body">
        <div class="section">
          <h6>Rate your program experience</h6>
          <div class="rating">
            <span (click)="rate=1" class="fa-stack" [class]="rate >= 1 ? 'fa-stack ' + rate_value[rate] : 'fa-stack'">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-star fa-stack-1x fa-inverse"></i>
            </span>
            <span (click)="rate=2" class="fa-stack" [class]="rate >= 2 ? 'fa-stack ' + rate_value[rate] : 'fa-stack'">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-star fa-stack-1x fa-inverse"></i>
            </span>
            <span (click)="rate=3" class="fa-stack" [class]="rate >= 3 ? 'fa-stack ' + rate_value[rate] : 'fa-stack'">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-star fa-stack-1x fa-inverse"></i>
            </span>
            <span (click)="rate=4" class="fa-stack" [class]="rate >= 4 ? 'fa-stack ' + rate_value[rate] : 'fa-stack'">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-star fa-stack-1x fa-inverse"></i>
            </span>
            <span (click)="rate=5" class="fa-stack" [class]="rate >= 5 ? 'fa-stack ' + rate_value[rate] : 'fa-stack'">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-star fa-stack-1x fa-inverse"></i>
            </span>
            <p>{{rate + '.0'}}</p>
          </div>
        </div>
      </div>
      <div class="spliter"></div>
      <div class="modal-body">
        <div  class="section">
          <h6>Tell us about your experience</h6>
          <textarea [(ngModel)]="review_content" placeholder="Write your review here."></textarea>
        </div>
      </div>
      <button (click)="onWriteReview()" class="btn btn-black btn-block text-uppercase py-2 mt-3">WRITE REVIEW</button>
  </div>
  </div>
  <div class="review-container ml-4">
    <div *ngFor="let review of reviews; let i = index;" class="review-body mb-2 d-flex flex-row">
      <div class="col-auto p-0">
        <figure>
          <img src="/assets/images/icons/icon-account-gray.png" class="img-fluid d-block mx-auto" />
        </figure>
      </div>
      <div class="ml-2">
        <div class="rating d-flex flex-row">
          <p>{{review.score + '.0'}}</p>
          <span class="fa-stack" [class]="review.score >= 1 ? 'fa-stack ' + rate_value[review.score] : 'fa-stack'">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x fa-inverse"></i>
          </span>
          <span class="fa-stack" [class]="review.score >= 2 ? 'fa-stack ' + rate_value[review.score] : 'fa-stack'">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x fa-inverse"></i>
          </span>
          <span class="fa-stack" [class]="review.score >= 3 ? 'fa-stack ' + rate_value[review.score] : 'fa-stack'">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x fa-inverse"></i>
          </span>
          <span class="fa-stack" [class]="review.score >= 4 ? 'fa-stack ' + rate_value[review.score] : 'fa-stack'">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x fa-inverse"></i>
          </span>
          <span class="fa-stack" [class]="review.score >= 5 ? 'fa-stack ' + rate_value[review.score] : 'fa-stack'">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="spliter mt-2 mb-2"></div>
        <p class="user-name">{{review.user_name}}</p>
        <p class="review-content mt-2" style="-webkit-box-orient: vertical;">{{review.content_text}}</p>
      </div>
    </div>
  </div>
</div>
