<div class="flex-content">
    <div class="stepper-group">
        <div class="stepper">
            <button class="decrease" (click)="DecraseRTF()"><span>-</span></button>
        </div>
        <div class="amount">
            <label><span>Performed RTF</span></label>
        </div>
        <div class="stepper">
            <button class="increase" (click)="IncraseRTF()"><span>+</span></button>
        </div>
    </div>
    <div class="stepper-group">
        <div class="stepper">
            <button class="decrease" (click)="DecraseREPS()"><span>-</span></button>
        </div>
        <div class="amount">
            <label><span>Performed Reps</span></label>
        </div>

        <div class="stepper">
            <button class="increase" (click)="IncraseREPS()"><span>+</span></button>
        </div>
    </div>
</div>

